.header {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ab183d;
    width: 1010px;
    height: 200px;
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    align-content: center;
    /* margin-top: 5px; */
}

.head {
    /* border: 2px solid rgb(3, 1, 1); */
    display: block;
    padding-bottom: 10px;
    padding-right: 30px;
    margin: auto;
    /* font-weight: bolder; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    /* font-weight:bolder; */
    /* font-size: 55px;  */
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.1;
    text-align: center;
    word-spacing: 6px;

}

.pp {
    font-size: large;
    font-weight: bolder;
}

.ppp {
    font-weight: bolder;

}

/*------------------------------- HEADER END --------------------------------*/




/*---------------------------- NAVIGATION STATRT ----------------------------*/
.nav{
    border: 2px solid rgb(0, 0, 0);
    width: 1010px;
    display: flex;
    justify-content: space-evenly;
    
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.di{
    /* text-align: center; */
    height: 50px;
    width: 1010px;
}
.itm{
    border-right: 1px solid white;
}

    .ca1:hover{
    background-color: rgb(255, 255, 255);
    }
/*-----------------------------NAVIGATION END-----------------------------*/






/*-----------------------------MARQUEE START------------------------------*/
.marqu {
    /* border: 2px solid red; */
    width: 1010px;

}

.h {
    /* width: 1010px; */
    /* margin-left: 170px;
        margin-right: 190px; */
    /* font-family: Arial,Helvetica,sans-serif; */
    /* font-size: 50px; */
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    
}

.h2 {
    line-height: 0.1;
    text-align: center;
    margin-top: 0px;
    font-size: 1px;
    text-decoration: underline;
color: #df8805;

}

.mar {
    /* margin-left: 170px;
        margin-right: 190px; */
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    font-weight: bolder;
    padding-bottom: 0%;
    line-height: 10px;
    /* height: 80px; */
    /* width: 1002px; */
    text-align: center;
    text-decoration: underline;
}

#marq {
    text-decoration: underline;
    color: black;
}


/*-----------------------------MARQUEE END-----------------------------*/




/*------------------------------ICON START-----------------------------*/



.ico {
    width: 1010px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 150px;
    height: 20px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 50px;
    font-size: small;
    background-color: skyblue;
}

/*------------------------------ICON END-----------------------------*/





/*-----------------------------TABLE START----------------------------*/
.tube{
    width: 1010px;
    text-align: center;
    /* width: fit-content; */
    color: white;
    display: flex;
    justify-content: center;


}

.row1{

    border: 4px solid rgb(0, 26, 255);
    border-radius: 10px;
    background-color: rgb(0, 26, 255);
    width:250px;
    text-align: center;
    
}

.main {
    /* border: 2px solid red; */

    width: 1010px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.tt {
    display: flex;
    align-content: center;
    justify-content: center;
}



/*-----------------------------  TABLE END  ----------------------------*/




/*---------------------------  SECTION 1  START-------------------------*/

    .nn{
        /* border: 2px solid red; */
        width: 1010px;
    

    }

.result{
    border: 2px solid rebeccapurple;
    width: 1010px;
    
 }
 
 
 .section1{
    font-size: medium;
    font-family: Arial,Helvetica,sans-serif;
    float: left;
    /* margin-left: 172px; */
    }
    
    /* .sec1,.sec2,.sec3{
    border: 2px solid  #ab183d ;
    float: left;
    line-height: 26px;
    /* height: 1476PX; 
    }*/
    a:visited{
    color: rgb(4, 0, 255);
    }
    
    /* .colu{
    border:2px solid  #df8805;
    margin-left: 5px; 
     width:250px;
     height: 9000px;
    } */
    /* .sec2{
    border: 2px solid #df8805;;
    margin-left: 5px;
    } 
    .sec3{
    border: 2px solid#df8805;
     margin-left: 5px;
    } */
   
    .con1{
    /* border: 2px solid#df8805; */

    background-color: #ab183d;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    /* border: 2px solid #ab183d; */
    height: 40px;
    line-height: 1.0px;
    
    }
    .con2{
    background-color: #ab183d;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border: 2px solid #ab183d;
    height: 40px;
    line-height: 0.1px;
    text-decoration: none;
    }
    .con3{
    background-color: #ab183d;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border: 2px solid #ab183d;
    height: 40px;
    line-height: 0.1px;
    }
    
    .view3{
    /* padding-top: 100px; */
    color: rgb(2, 2, 110);
    text-align: end;
    /* padding-right: 20px; */
    text-decoration: none;
    }
    .view2{
    /* padding-top: 48px; */
    color: rgb(2, 2, 110);
    text-align: end;
    /* padding-right: 20px; */
    text-decoration: none;
    }
    .view1{
    /* padding-top: 76px; */
    color: rgb(2, 2, 110);
    text-align: end;
    /* padding-right: 20px; */
    text-decoration: none;
    }
        /*------------------------------  SECTION 1  END---------------------------*/



        
    /*---------------------------  SECTION 2 START  --------------------------*/
.las{
    width: 1010px;

}

    .last{

        margin-top: 20px;
        border: 1px solid #df8805;
    
        /* margin-left: 192px; */
        height: fit-content;
        text-align: center;
        font-family: Arial,Helvetica,sans-serif;
        line-height: 2;
        font-size: 15px;
        }
        .oo{
            /* border: 2px solid red; */
        }
        .last1{
            /* border: 2px solid red; */
/* width: 1010px; */
        background-color:  #ab183d;
        color: #ffffff;
        height: 40px;
        line-height: 1.8;
        }













.feet{
    /* border: 2px solid red; */
    width: 1010px;
    display: flex;
    justify-content:space-evenly;


}

        .main2,.box1,.box2,.box3,.box4,.box5{
            float: left;
            font-family: Arial,Helvetica,sans-serif;
            text-decoration: none;
            list-style-type:none;
            line-height: 25px;
            }
            .mm{
            list-style-type:none;
            }
        
            .hidden{
            visibility: hidden;
            }
            a{
            text-decoration:none;
            color: rgb(95, 95, 95);
            }
            ul{
            text-decoration:none;
            /* list-style-type: none;   */
            }
            .box1{
            padding-left: 0px;
            }
            .box2{
            /* padding-left: 50px; */
            }
            .box3{
            /* padding-left: 50px; */
            }
            .box4{
            /* padding-left: 40px;
            line-height: 20px; */
            }
            .box5{
            /* line-height: 19px;
            padding-left: 0px; */
            }